doctype
html
    head
    body
        h1 reset password for user #{username}

        form(method="post",action="/admin/password/reset/#{_id}")
            label password
            input(name='password')

            button reset